# Oracle DBA Platform v2.6.0
CENTRAL_API_PORT=4090
CENTRAL_API_TOKEN=dev-token-change-me

# PostgreSQL real da API Central
# Exemplo local:
# postgresql://postgres:postgres@localhost:5432/oracle_dba_platform?schema=public
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/oracle_dba_platform?schema=public"
