node_modules/
dist/
coverage/

.env
.env.local
.env.production

logs/
*.log

central-api/node_modules/
dashboard-web/node_modules/

agent-rust/target/
src-tauri/target/

src-tauri/resources/oracle-bridge/node-runtime.exe

postgres-data/

.prisma/


src-tauri/bin/
src-tauri/resources/oracle-bridge/node-runtime.exe
**/node-runtime*


src-tauri/bin/node-runtime-x86_64-unknown-linux-gnu 